<li class="dropdown">
  <button type="button" href="#" class="dropdown-toggle btn btn-primary navbar-btn" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"> </span>
Admin Panel <b class="caret"></b></button>
  <ul class="dropdown-menu">
  	<li class="dropdown-header">Post</li>
    <li><a href="/admin/posts/new">Add New Post</a></li>
    <li><a href="/admin/posts">All Posts</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Shows</li>
    <li><a href="/admin/shows/new">Add New Show</a></li>
    <li><a href="/admin/shows">All Shows</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">DJ's</li>
    <li><a href="#">Add New DJ</a></li>
    <li><a href="#">All DJs</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Users</li>
    <li><a href="#">Add New User</a></li>
    <li><a href="/admin/users">All Users</a></li>
    <li class="divider"></li>
  	<li class="dropdown-header">General Settings</li>
    <li><a href="#">Site Options</a></li>
  </ul>
</li>