<div id="admin_page_shows" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<%= erb :'/admin/admin_nav' %>
			</div>
			<div class="col-md-10">
				<h2><%= @sub_title %></h2>
				<h3>Edit Show - <%= @show.title %></h3>
				<%= erb :'admin/shows/edit_show_form' %>
			</div>
	</div>
</div>