<form class="navbar-form navbar-right" action="/auth/login" method="post">
	<div class="form-group">
	  <input type="text" placeholder="Username" name="user[username]" class="form-control">
	</div>
	<div class="form-group">
	  <input type="password" placeholder="Password" name="user[password]" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Sign in</button>
</form>