/* global stuff */

body {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
}


/* form styling */

form {
	display: block;
	border: 1px solid #ccc;
	padding: 15px;
	float: right;
}



		input {
			margin-bottom: 20px;
			border: 1px solid #bbb;
			padding: 3px;
		}

		button {
			display: block;
		}

form#edit_user fieldset label h6.zeta {
	margin-bottom: 5px;
}

/* structural stuff */

div#page_wrapper {
	width: 960px;
	margin: 0 auto;
}

	header#main_header {
		width: 100%;
		float: left;
	}
		#main_header h1 {
			float: left;
		}

		div#login {
			float: right;
		}

	div#main_content {
		width: 100%;
		float: left;
	}


/* Admin Page Styling */
div#admin_page {
	width: 100%;
	float: left;
}

	nav#admin_nav {
		float: left;
		width: 15%;
	}

	div#admin_content {
		float: right;
		width: 85%;
	}

/* user styling */

div#user_posts, div#user_list {
	float: left;
	display: inline;
}

form#edit_user {
	float: right;
	display: inline;

}