<div id="admin_page_posts" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<%= erb :'/admin/admin_nav' %>
			</div>
			<div class="col-md-10">
				<h2><%= @sub_title %></h2>
				<h3>Edit Post - <%= @post.title %></h3>
				<%= erb :'admin/posts/edit_post_form' %>
			</div>
	</div>
</div>