<form id="edit_user" autocomplete="off" action="/admin/user/new" method="POST">
<fieldset>
	<legend><h5 class="epsilon">New User</h5></legend>

	<label for="username"><h6 class="zeta">Username</h6></label>
	<input id="username" type="text" name="username" placeholder="Username"/>

	<label for="email"><h6 class="zeta">Password</h6></label>
	<input id="email" type="password" name="email" placeholder="password"/>

	<label for="email"><h6 class="zeta">Email</h6></label>
	<input id="email" type="text" name="email" placeholder="e-mail"/>

	<label for="first_name"><h6 class="zeta" >First Name</h6></label>
	<input type="text" id="first_name" name="first_name" placeholder="First Name" value />

	<label for="last_name"><h6 class="zeta" >Last Name</h6></label>
	<input type="text" id="last_name" name="last_name" placeholder="Last Name" />

	<button type="submit" />Save Changes</fieldset>
</fieldset>
</form>